@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Mulish:wght@300&display=swap');

/* breadcrumb */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo-container {
    width: 150px;
}

.logo {
    height: 100px;
    width: 120px;
    cursor: pointer;
}

.nav-buttons {
    background-color: transparent;
    border-color: transparent;
    font-size: large;
    font-family: 'Mulish', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 350px;
}

#select-plan-bc {
    color: rgb(0, 128, 0);
    font-weight: bolder;
    cursor: pointer;
}

#nav- {
    color: green;

}

#pick-meals-bc {
    color: green;
    font-weight: bolder;
    cursor: pointer;
}



/* breadcrumb */

/* header */

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px;
    background-color: rgba(255, 253, 248, 0.145);
    border: .5px solid rgb(161, 149, 110);
    color: rgb(50, 50, 50);
    font-size: large;
}

#dynamic-meal-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

#save-button {
    border-radius: 8px;
    padding: 9px 1px;
    margin: 6px 0;
    width: 9vw;
    background-color: rgb(83, 118, 19);
    color: white;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(96, 135, 60);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-color: transparent;
    font-size: x-large;
}


#save-button:hover {
    box-shadow: inset 200px 0 0 0 rgb(96, 135, 60);
    color: white;
}

/* header */


/* main meals section */

#main-section-container {
    background-color: rgb(247, 244, 234);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 25px 0;
    border: 1px solid rgb(161, 149, 110);
}

#search-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-filter-box {
    margin: 9px 0
}

#my-meals-text-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 7px;
    width: 75%;
}

#my-meals-text {
    font-family: 'Manrope', sans-serif;
    color: grey;
    font-size: xx-large;

}

#clear-filter {
    background-color: rgb(109, 158, 20);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    border-color: transparent;

}

.filter-button {
    background-color: rgb(204, 238, 170);
    padding: 12px;
    border-radius: 5px;
    border-color: rgb(121, 205, 38);
    border-width: 1px;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    color: green;
}

.filter-button-white {
    background-color: white;
    border-color: darkgreen;
    color: darkgreen;
}

.filter-button:hover {
    background-color: white;
    border-color: darkgreen;
    color: darkgreen;
}

#search-form {
    position: relative;
    z-index: 1;
}

#search-icon {
    position: absolute;
    z-index: 4;
}

#search-input {
    border-radius: 15px;
    height: 50px;
    width: 400px;
    border-color: lightgrey;
    box-shadow: lightgrey;
    margin-bottom: 11px;
    font-family: 'Mulish', sans-serif;
    font-size: large;
}

input:focus {
    outline: darkgreen;
}

/* Menu items */
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#meal-kits-text {
    font-family: 'Manrope', sans-serif;
    font-size: 32px;
    color: grey;
    width: 75%;
    padding-top: 15px;
}

.menu-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
}

.menu-image {
    height: 180px;
    width: 300px;
}

.meal-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: white;
    padding: 0;
    cursor: pointer;
    border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
}

.meal-buttons:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}


.meal-title {
    font-family: 'Manrope', sans-serif;
    margin: 5px 5px;
}

.preferences {
    border-radius: 2px;
    color: white;
    margin: 5px 5px;
}

#calorie-smart {
    background-color: darkcyan;
    padding: 0 9px;
}

#protein-plus {
    background-color: rgba(139, 0, 0, 0.719);
    padding: 0 9px;
}

#keto {
    background-color: rgb(188, 168, 18);
    padding: 0 9px;
}

#carb-smart {
    background-color: rgb(0, 81, 139);
    padding: 0 9px;
}

#populars {
    background-color: rgb(79, 0, 139);
    padding: 0 9px;
}

.preference-container {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 25px;
}

.outer-button-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 5px;

}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(83, 118, 19);
    border-radius: 5px;
    width: 75%;
}

.plus-button {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: x-large;
    cursor: pointer;
}

.plus-button:hover {
    color: grey;
}

.minus-button {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: x-large;
    cursor: pointer;
}

.minus-button:hover {
    color: grey;
}

.selected-data {
    font-family: 'Mulish', sans-serif;
    color: white;
}

#date-container {
    font-size: small;
}


/* Menu items */